langchain==0.3.27
langgraph==0.6.6
langchain-community==0.3.29
langchain_nvidia_ai_endpoints==0.3.16
gradio==5.0.0
pydantic==2.8.2
fastapi==0.112.1
annoy==1.17.3
PyStemmer==2.2.0.1
pydantic_core==2.20.1
tavily-python==0.4.0
pandas==2.2.2
fhirclient==4.2.0
python-dotenv==1.0.1
pycountry==23.12.11
bleach==6.1.0
watchfiles==1.1.0